:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-top: 50px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-product{
  width: 250px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.StackCard {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.imgproduct{
  width: 600px;
  height: 600px;
  object-Fit: cover;
}




.Stack-btn{
  justify-content: center;
}

.Details{
  margin: 0 40px;
}

.productBox{
  display: flex;
  align-items: center;
  
}

.DetailsProduct{
  width: 50%;
}

.checkbill{
  display: grid;
  grid-template-columns: 50% 50%;
}

.bill{
  display: flex;
  justify-content: space-between;
}

.imgbill{
  margin-left: 50px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.input{
  width: 90%;
  height: 25px;
  text-align: center;
}

.textInput{
  text-align: left;
}

.Total{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .StackCard {
    flex-direction: column;
  }

  .productBox{
    display:block
  }


  .imgproduct{
    width: 300px;
    height: 250px;
    margin-left: 50;

  }
  .Accordion{
    width: 100%;
  }

  .DetailsProduct{
    width: 100%;

  }
}




